*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}
h1,h2{
    font-family: "Lora", serif;
}
p,span{
    font-family: "Lato", sans-serif;
}
.container{
	margin-left: auto;
	margin-right: auto;
	max-width: 1376px;
}
.container__inner{
	margin-left: auto;
	margin-right: auto;
	max-width: 1352px;
}

.section{
	margin-top: 80px;
}
.home{
    width: 100%; 
    height: 883px; 
    background-image: url('../../assets/img/5a1f6ba2-b67a-4a65-9f3b-61ceec1cdfb8.jpeg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}
.home .container{
    padding-top: 30px;
}
.home .home__content{
    text-align: center;
    color: #ffffff;
    font-size: 6.4rem;
    font-weight: 400;
    line-height: 74px;
    max-width: 822px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 205px;
}
/* ======================================home=============================================*/
.header{
    background: #1F1F1F;
    border-radius: 8px;
}
.header--text{
    color: #ffffff;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 20px;
}
.header--wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.time{
    display: flex;
    align-items: center;
    gap: 3px;
    padding: 6px 0;
}
.time__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5px;
}
.time__info .time__info--number{
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 14px;
}
.time__info .time__info--text{
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 10px;
}
.tdot{
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 18px;
}

.navbar{
    margin-top: 13px;
    display: flex;
    position: relative;
}
.navbar .navbar--text{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 22px;
    color: #ffffff;
}
.navbar .navbar--text--mid{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 22px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.navbar .menu{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: auto;
}
.navbar .list{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-left: auto;
}
.navbar .list .list-group{
    display: flex;
    align-items: center;
    gap: 8px;
}

/* ======================================section one=============================================*/
.sectionone{

}
.sectionone .sectionone__title{
    font-weight: 400;
    font-size: 4rem;
    line-height: 54px;
    text-align: center;
}
.sectionone__img{
    font-size: 0;
    margin-top: 45px;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 48px;
}
.sectionone__img img{
    flex: 1;
    max-width: 379px;
    max-height: 617.89px;
    border-radius: 16px;
    display: block;
    object-fit: cover;
    overflow: hidden;
}
.sectionone__desc{
    max-width: 810px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 17.5px;
    
}
.sectionone__desc p{
    text-align: center;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 22px;
}
/* ======================================section two=============================================*/
.sectiontwo--wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.sectiontwo--item {
    width: calc(50% - 4px);
    border-radius: 24px;
    height: auto;
}
.sectiontwo--item img{
    display: block;
    object-fit: cover;
    width: 100%;
    border-radius: 24px;
}
.sectiontwo--item{
    display: flex;
    justify-content: center;
    background: #F4F0EA;
    
}
.sectiontwo--item--wrap{
    padding-top: 294px;
    max-width: 587px;
    padding-bottom: 48px;
}
.sectiontwo--item--wrapsecond{
    padding-top: 372px;
    padding-bottom: 70px;
}
.sectiontwo--item .desc--item__content{
    font-weight: 400;
    font-size: 1.4rem;
    margin-top: 40px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}
.sectiontwo--item .title{
    font-weight: 400;
    font-size: 6.4rem;
    line-height: 74px;
}
.sectiontwo--item .desc--item{
    margin-top: 24px;
}
.sectiontwo--item .desc--item .desc--item__title{
    font-weight: 400;
    font-size: 2rem;
    line-height: 30px;
}
.sectiontwo--item .desc--item .desc--item__content{
    margin-top: 8px;
}
.sectiontwo--item .desc--item__content--two{
    margin-top: 17.5px;
}
/* ======================================section three=============================================*/
.sectionthree--wrap .desc--small{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 22px;
    color: #2C2A29;
    max-width: 524px;
}
.sectionthree--wrap .desc--big{
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 44px;
    color: #2C2A29;
    max-width: 1267px;
    margin-top: 16px;
}
/* ======================================section four=============================================*/
.sectionfour--wrap{
    display: flex;
    gap: 8px;
}
.sectionfour--wrap .left{
    flex: 1;
    height: auto;
    max-height: 800px;
    
    border-radius: 24px;
    max-width: calc(50% - 4px);
    overflow: hidden;
}
.sectionfour--wrap .left img{
    object-fit: cover;
    width: 100%;
    height: auto;
    height: 800px;
}
.sectionfour--wrap .right{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;   
    /* column-gap: 48px; */
}
.sectionfour--wrap .right .item{
    width: calc(50% - 4px);
    height: calc(50% - 24px);
    display: flex;
    flex-direction: column;
}
.sectionfour--wrap .right .item:nth-child(-n+2) {
    margin-bottom: 48px;
}
.sectionfour--wrap .right .item{
    position: relative;
    border-radius: 10px;
    /* background-color: #F0F2EF; */
    overflow: hidden;
}
.sectionfour--wrap .right .item .item__head{
    width: 91.124%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 4.734%;
    z-index: 1;
}
.sectionfour--wrap .right .item .item__head .item__head--info{
    display: flex;
    gap: 8px;
}
.sectionfour--wrap .right .item .item__head .item__head--info span{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 20px;
    padding: 0px 6px 0px 6px;
    border-radius: 6px;
    opacity: 0px;
    background-color: #ffffff;
}
.sectionfour--wrap .right .item .item__head .item__head--info .item__head--tym{
    width: 20px;
    height: 20px;
}
.sectionfour--wrap .right .item .item__head .item__head--info .item__head--tym img{
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.sectionfour--wrap .right .item .item__img{
    width: 100%;
    height: 90.425%;  
    background-color: #F4F0EA;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    max-height: 339.99px;
    flex: 1;
}
.sectionfour--wrap .right .item .item__img a{
    
}
.sectionfour--wrap .right .item .item__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sectionfour--wrap .right .item .item__bottom{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    width: 88.46%;
    justify-content: space-between;
    margin-top: 12px;
}
.sectionfour--wrap .right .item .item__bottom span{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 22px;
    color: #1F1F1F;
}
.sectionfour--wrap .right .item .item__color{
    display: flex;
    align-items: center;
    position: absolute;
    top: 91.767%;
    left: 50%;
    transform: translateX(-50%);
    gap: 9px;
}
.sectionfour--wrap .right .item .item__color .item__color--color{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: red;
}
.sectionfour--wrap .right .item .item__color .item__color--color:nth-child(1){
    background-color: #A8A687;
}
.sectionfour--wrap .right .item .item__color .item__color--color:nth-child(2){
    background-color: #C7A07C;
}
.sectionfour--wrap .right .item .item__color .item__color--color:nth-child(3){
    background-color: #D6E1EB;
}
.sectionfour--wrap .right .item .item__color .item__color--color:nth-child(4){
    background-color: #285E8F;
}
.sectionfour--wrap .right .item .item__color .item__color--add{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 20px;
    text-decoration-skip-ink: none;
    color: #797E7E;
}
/* ======================================section five=============================================*/
.sectionfive--wrap{
    display: flex;
}
.sectionfive--wrap .left{
    padding-top: 60px;
    padding-left: 4.6%;
    /* background-color: antiquewhite; */
    max-width: 575px;
}
.sectionfive--wrap .left .left__title{
    font-size: 6.4rem;
    font-weight: 400;
    line-height: 74px;
    color: #2C2A29;
}
.sectionfive--wrap .left .left__content{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 22px;
    margin-top: 32px;
}
.sectionfive--wrap .right{
    width: 49.72%;
    /* background-color: aqua; */
    margin-left: auto;
    border-radius: 24px 0px 0px 24px;
    opacity: 0px;
    overflow: hidden;
    position: relative;
}
.sectionfive--wrap .right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* ======================================slide show=============================================*/
.slideshow{
    position: relative;
    overflow: hidden;
    width: 100%;
}
.slides-container{
    display: flex;
    gap: 9px;
    transition: transform 0.3s ease-in-out;
   
}
.slide{
    flex: 0 0 auto;
    width: 31.458%;
    height: 800px;
    /* background-color: aqua; */
    overflow: hidden;
    position: relative;
}
.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}
.slide .slide__content{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 24px;
    top: 84.5%;
    left: 10.264%;
}
.slide .slide__content .slide__content1{
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 44px;
    color: #ffffff;
}
.slide .slide__content .slide__content2{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 14px;
    color: #ffffff;
    text-decoration: underline; 
    text-decoration-color: #ffffff;
}
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    z-index: 1;
    border-radius: 8px 0px 0px 8px;
    opacity: 0px;
}
.prev {
    left:0px;
}

.next {
    right: 0px;
}

/* ======================================footer=============================================*/
.footer{
    background-color: #F4F0EA;
}
.footer--wrap{
    padding: 49px 49px 0px 49px;
    display: flex;
}
.footer--main{

}
.footer--main .footer--main__info{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    max-width: 232px;
    margin-bottom: 34px;
}
.footer--main .footer--main__title{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 8px;
}
.footer--main .footer--main__content{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 22px;
    max-width: 313px;
    margin-bottom: 14px;
}
.footer--main button{
    width: 180px;
    height: 46px;
    padding: 16px 50px 16px 50px;
    gap: 8px;
    border-radius: 8px;
    opacity: 0px;
    color: #ffffff;
    background-color: #1F1F1F;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.05em;
    margin-bottom: 34px;
}
.footer--main .footer--main__social{
    display: flex;
    align-items: center;
    gap: 9.29px;
}
.footer--main .footer--main__social .social--img{
    width: 30.79px;
    height: 30.79px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer--main .footer--main__social .social--img img{
    object-fit: cover;
}
.footer--row{
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 43px;
}
.footer--row .footer--col{
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 22px;
    gap: 13px;
}

.footer--row .footer--col:nth-child(1),.footer--row .footer--col:nth-child(4){
    gap: 8px;
    width: 143px;
}
.footer--row .footer--col:nth-child(2){
    width: 139px;
}
.footer--row .footer--col:nth-child(3){
    width: 158px;
}