*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}
h1,h2{
    font-family: "Lora", serif;
}
p,span{
    font-family: "Lato", sans-serif;
}
.container{
	margin-left: auto;
	margin-right: auto;
	max-width: 1376px;
}
.container__inner{
	margin-left: auto;
	margin-right: auto;
	max-width: 1352px;
}

.section{
	margin-top: 80px;
}


/* ======================================section one=============================================*/
.sectionone{

}
.sectionone .sectionone__title{
    font-weight: 400;
    font-size: 4rem;
    line-height: 54px;
    text-align: center;
}
.sectionone__img{
    font-size: 0;
    margin-top: 45px;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 48px;
}
.sectionone__img img{
    flex: 1;
    max-width: 379px;
    max-height: 617.89px;
    border-radius: 16px;
    display: block;
    object-fit: cover;
    overflow: hidden;
}
.sectionone__desc{
    max-width: 810px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 17.5px;
    
}
.sectionone__desc p{
    text-align: center;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 22px;
}
/* ======================================section two=============================================*/
.sectiontwo--wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.sectiontwo--item {
    width: calc(50% - 4px);
    border-radius: 24px;
    height: auto;
}
.sectiontwo--item img{
    display: block;
    object-fit: cover;
    width: 100%;
    border-radius: 24px;
}
.sectiontwo--item{
    display: flex;
    justify-content: center;
    background: #F4F0EA;
    
}
.sectiontwo--item--wrap{
    padding-top: 294px;
    max-width: 587px;
    padding-bottom: 48px;
}
.sectiontwo--item--wrapsecond{
    padding-top: 372px;
    padding-bottom: 70px;
}
.sectiontwo--item .desc--item__content{
    font-weight: 400;
    font-size: 1.4rem;
    margin-top: 40px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}
.sectiontwo--item .title{
    font-weight: 400;
    font-size: 6.4rem;
    line-height: 74px;
}
.sectiontwo--item .desc--item{
    margin-top: 24px;
}
.sectiontwo--item .desc--item .desc--item__title{
    font-weight: 400;
    font-size: 2rem;
    line-height: 30px;
}
.sectiontwo--item .desc--item .desc--item__content{
    margin-top: 8px;
}
.sectiontwo--item .desc--item__content--two{
    margin-top: 17.5px;
}
